<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <BuildInParallel>false</BuildInParallel>
    <PublishDir>$(MSBuildThisFileDirectory)../../../../artifacts/publish/Servanda-linux-x64/</PublishDir>
  </PropertyGroup>
</Project>
